<div class='list list-inset'>
    <form novalidate>
    <label class='item item-input'>
        <i class='icon ion-search placeholder-icon'></i>
        <input type='text' placeholder='Search nearby places' ng-model='placesQuery'>
        <input type='submit' ng-click='searchPlaces(placesQuery);' class='hiddenSubmit'>
    </label>
    </form>
</div>
<div class='list'>
  <a href='#/app/places/{{venue.name}}' class='item item-avatar' ng-repeat='venue in venues'>
        <img src='{{venue.categories[0].icon.prefix}}bg_32{{venue.categories[0].icon.suffix}}'>
        <h2>{{venue.name}}</h2>
        <p>
            {{venue.categories[0].name}}
            {{venue.location.address}}
        </p>
    </a>
</div>
<span class='center-block'><h4>{{message}}</h4></span>
