<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title></title>

        <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">

        <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
        <link href="css/ionic.app.css" rel="stylesheet">
        -->

        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>

        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>

        <!-- your app's js -->
        <script src="js/app.js"></script>
    </head>
  
    <body ng-app="hopulous" ng-controller="RecBeerCtrl">
        <ion-side-menus>
            <ion-side-menu-content>
                <ion-header-bar class="bar-balanced">
                    <h1 class="title">Hopulous</h1>
                </ion-header-bar>

                <ion-content>
                    <div class="list list-inset">
                      <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" placeholder="Search" ng-model="beerSearch">
                      </label>
                    </div>

                    <ion-list>
                      <ion-item href="#/beers/{{recbeer.beer_id}}" ng-repeat="recbeer in recbeers | filter:beerSearch">
                           {{recbeer.beer_name}}
                          <ion-option-button class="button-clear button-positive">Check in</ion-option-button>
                          <ion-option-button class="button-clear button-positive">Cancel</ion-option-button>
                      </ion-item>
                    </ion-list>
                </ion-content>

            </ion-side-menu-content>

            <!-- Left menu -->
            <ion-side-menu side="left">
                <ion-header-bar class="bar-balanced">
                <h1 class="title">Projects</h1>
                </ion-header-bar>
            </ion-side-menu>

        </ion-side-menus>
    </body>
</html>
